@font-face {
  font-family: "iconfont"; /* Project id 2652071 */
  src: url('iconfont.woff2?t=1664244938757') format('woff2'),
       url('iconfont.woff?t=1664244938757') format('woff'),
       url('iconfont.ttf?t=1664244938757') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-13wu:before {
  content: "\e651";
}

.icon-a-14bingbao:before {
  content: "\e654";
}

.icon-a-0qing:before {
  content: "\e649";
}

.icon-a-3xiaoyu:before {
  content: "\e64a";
}

.icon-a-5dayu:before {
  content: "\e64b";
}

.icon-a-4zhongyu:before {
  content: "\e64c";
}

.icon-a-2yintian:before {
  content: "\e64d";
}

.icon-a-1duoyun:before {
  content: "\e64e";
}

.icon-a-8xiaoxue:before {
  content: "\e64f";
}

.icon-a-7leizhenyu:before {
  content: "\e650";
}

.icon-a-6baoyu:before {
  content: "\e652";
}

.icon-a-11baoxue:before {
  content: "\e653";
}

.icon-a-9zhongxue:before {
  content: "\e655";
}

.icon-a-12yujiaxue:before {
  content: "\e656";
}

.icon-a-10daxue:before {
  content: "\e657";
}

.icon-erjisuoxiao:before {
  content: "\e640";
}

.icon-erjifangda:before {
  content: "\e641";
}

.icon-yijisuoxiao:before {
  content: "\e642";
}

.icon-yijifangda:before {
  content: "\e643";
}

.icon-fangda:before {
  content: "\e644";
}

.icon-suoxiao:before {
  content: "\e645";
}

.icon-huitu:before {
  content: "\e646";
}

.icon-ceju:before {
  content: "\e647";
}

.icon-chaoxi:before {
  content: "\e648";
}

.icon-gaojingfenxitongji:before {
  content: "\e63f";
}

.icon-zhankai:before {
  content: "\e63e";
}

.icon-shouqi:before {
  content: "\e633";
}

.icon-a-gaojingyuefenfenbuqushi:before {
  content: "\e634";
}

.icon-gaojingxinxiliebiao:before {
  content: "\e635";
}

.icon-a-gaojingtonghuanbifenxi:before {
  content: "\e636";
}

.icon-guanbi:before {
  content: "\e637";
}

.icon-zuoyechuanzhigailan:before {
  content: "\e638";
}

.icon-guowangchuanzhigailan:before {
  content: "\e639";
}

.icon-jinritianqi:before {
  content: "\e63a";
}

.icon-fenglichanggaikuang:before {
  content: "\e63b";
}

.icon-quyuneishebeitongji:before {
  content: "\e63c";
}

.icon-shipinjiankong:before {
  content: "\e63d";
}

.icon-mima:before {
  content: "\e631";
}

.icon-yonghuming:before {
  content: "\e630";
}

