:root {
  // 定义一些css全局变量
}

body{
  font-family: 'Pingfang SC', 'Helvetica Neue eText Pro Light', Arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsof yahei', simsun, sans-serif;
  background: #f3f4fb;
  color: #333;
  min-height: 100vh;
}

a {
  color: #36A4FF;
}
a:hover {
  text-decoration: underline;
}